azure-common==1.1.28
azure-servicebus==7.12.2
certifi==2024.7.4
cffi==1.17.0
chardet==5.2.0
click==8.1.7
colorama==0.4.6
cryptography==43.0.0
Flask==3.0.3
Flask-SQLAlchemy==3.1.1
idna==3.7
isodate==0.6.1
isort==5.13.2
itsdangerous==2.2.0
Jinja2==3.1.4
lazy-object-proxy==1.10.0
MarkupSafe==2.1.5
msrest==0.7.1
msrestazure==0.6.4.post1
oauthlib==3.2.2
psycopg2==2.9.9
pycparser==2.22
PyJWT==2.9.0
pylint==3.2.6
python-dateutil==2.9.0.post0
python-http-client==3.3.7
requests==2.32.3
requests-oauthlib==2.0.0
sendgrid==6.11.0
six==1.16.0
SQLAlchemy==2.0.32
toml==0.10.2
uamqp==1.6.9
urllib3==2.2.2
Werkzeug==3.0.3
