azure-common==1.1.28
azure-servicebus==7.14.2
certifi==2025.10.5
cffi==2.0.0
chardet==5.2.0
click==8.3.0
colorama==0.4.6
cryptography==46.0.3
Flask==3.1.2
Flask-SQLAlchemy==3.1.1
idna==3.11
isodate==0.7.2
isort==7.0.0
itsdangerous==2.2.0
Jinja2==3.1.6
lazy-object-proxy==1.12.0
MarkupSafe==3.0.3
msrest==0.7.1
msrestazure==0.6.4.post1
oauthlib==3.3.1
psycopg2==2.9.11
pycparser==2.23
PyJWT==2.10.1
pylint==4.0.2
python-dateutil==2.9.0.post0
python-http-client==3.3.7
requests==2.32.5
requests-oauthlib==2.0.0
sendgrid==6.12.5
six==1.17.0
SQLAlchemy==2.0.44
toml==0.10.2
uamqp==1.6.11
urllib3==2.5.0
Werkzeug==3.1.3
